<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mãos Unidas - Organização de apoio e serviços sociais">
    <title>Mãos Unidas</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/home.css' %}">
</head>
<body>
    <header class="conteiner-a1">
        <img id="logo" src="{% static 'website/img/logo.png' %}" alt="Logo da Mãos Unidas">
        <div class="menu">
            <ul>
                <li><a href="#">Sobre Nós</a></li>
                <li><a href="#">Nosso Trabalho</a></li>
                <li><a href="#">Eventos</a></li>
                <li><a href="#">Agendar Consulta</a></li>
                <li><a href="#">Seja um Voluntário</a></li>
                <li><a href="#" id="btn-apoiar">Doe Agora</a></li>
            </ul>
        </div>
    </header>
    <!--Meio do site-->
    <section class="banner-container">
        <div class="banner-cover">
            <div class="banner-text">
                <h2>Ajude 3x Mais Crianças</h2>
                <p>Contribua agora para que crianças autistas tenham acesso a terapias essenciais, educação inclusiva e suporte especializado.</p>
                <button class="donate-button">Doe Agora</button>
            </div>
        </div>
        <div class="banner-image-wrapper">
            <img src="{% static 'website/img/Banner.jpg' %}" alt="Banner de promoção">
        </div>
    </section>

    
    

    
    
    

</body>
</html>
