<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mãos Unidas - Organização de apoio e serviços sociais">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&family=Fira+Sans+Condensed:wght@400;700&display=swap" rel="stylesheet">
    <title>Mãos Unidas</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/home.css' %}">
</head>
<body>
    <header class="conteiner-a1">
        <img id="logo" src="{% static 'website/img/logo.png' %}" alt="Logo da Mãos Unidas">
        <div class="menu">
            <ul>
                <li><a href="#">Sobre Nós</a></li>
                <li><a href="#">Nosso Trabalho</a></li>
                <li><a href="#">Eventos</a></li>
                <li><a href="#">Agendar Consulta</a></li>
                <li><a href="#">Seja um Voluntário</a></li>
                <li><a href="#" id="btn-apoiar">Doe Agora</a></li>
            </ul>
        </div>
    </header>
    <!--Meio do site-->
    <section class="banner-container">
        <div class="banner-cover">
            <div class="banner-text">
                <h2>Ajude 3x Mais Crianças</h2>
                <p>Contribua agora para que crianças autistas tenham acesso a terapias essenciais, educação inclusiva e suporte especializado.</p>
                <button class="donate-button">Doe Agora</button>
            </div>
        </div>
        <div class="banner-image-wrapper">
            <img src="{% static 'website/img/Banner.jpg' %}" alt="Banner de promoção">
        </div>
    </section>
    <section class="sobre-ong">
        <h2>Instituto de Amparo ao Autista Mãos Unidas</h2>
        <hr id="linha">
        <p>A Mãos Unidas é uma ONG dedicada a promover a inclusão e a qualidade de vida das pessoas com autismo e suas famílias. Nossa missão é garantir que cada indivíduo, independentemente de suas limitações, tenha acesso a atendimento especializado e às ferramentas necessárias para seu desenvolvimento pleno. Acreditamos que, ao respeitar as diferenças e promover a autonomia, podemos transformar a vida das pessoas com autismo e construir uma sociedade mais inclusiva e igualitária.</p>
    </section>
    <section class="apelo">
        <p>Sua doação vai muito além de um simples gesto financeiro: ela nos ajuda a oferecer serviços essenciais como fonoaudiologia, psicologia comportamental, psicomotricidade e terapia ABA, que são fundamentais para o desenvolvimento de pessoas com autismo. Esses atendimentos especializados proporcionam suporte crucial para que cada indivíduo possa alcançar seu potencial. Com sua ajuda, conseguimos ampliar nosso impacto, alcançar ainda mais famílias e criar novas oportunidades que transformam vidas. Junte-se a nós nessa missão de oferecer um futuro melhor e mais inclusivo para todos!</p>
        <div class="imagem">
            <img src="{% static 'website/img/criançadoaçao.jpg' %}" alt="apelo de doação">
        </div>
    </section>

    
    
    

</body>
</html>
