* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #F8F8F8;
}

:root{
    --fonteMenu: 'Fira sans', sans-serif;
    --fonteTexto: 'Fira sans Condensed', sans-serif;
} 

/* Menu */
.conteiner-a1 {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #ffffff;
    padding: 10px 30px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#logo {
    width: 106px;
    height: 106px;
}

/* Menu */
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    margin-right: 30px;
}

.menu ul li a {
    color: #090015;
    font-size: 18px;
    font-family: var(--fonteMenu);
}



/* Botão APOIE */
#btn-apoiar {
    background-color: #FF9800;
    color: white;
    padding: 15px 25px;
    margin: 25px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

/*banner*/

/* Contêiner principal */
.banner-container {
    width: 100%;
    max-width: 1649px;
    height: 530px;
    display: flex;
    overflow: hidden;
    border: 1px solid #ddd;
    box-sizing: border-box;
    padding: 0px 25px 0px 25px;
    position: relative; 
}

/* Área do "cover" do lado esquerdo */
.banner-cover {
    width: 300px;
    height: 100%;
    background-color: #080114;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/* Texto no cover */
.banner-text {
    position: absolute; 
    top: 50%;
    left: 70px; 
    transform: translateY(-50%); 
    color: white;
    font-family: var(--fonteTexto);
    z-index: 2; 
    width: 450px; 
}

.banner-text h2 {
    font-family: var(--fonteMenu);
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}

.banner-text p {
    font-size: 24px;
    margin: 20px 0 20px;
}

/* Botão de doação */
.donate-button {
    background-color: #FF9800;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: var(--fonteMenu);
}

.donate-button:hover {
    background-color: #e08900;
}

/* Área da imagem à direita */
.banner-image-wrapper {
    flex: 1;
    height: 100%;
    overflow: hidden;
    position: relative;
}

/* Gradiente escuro nas laterais da imagem */
.banner-image-wrapper::before {
    content: ""; 
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7)); /* Gradiente escuro nas laterais */
    z-index: 1; 
}

/* Imagem responsiva */
.banner-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0; 
}

/*Sobre a ong */
.sobre-ong{
    background: #748A1E;
    margin-top: 10px;
}
.sobre-ong h2{
    color: white;
    font-family: var(--fonteMenu);
    font-size: 32px;
    text-align: center;
    padding-top: 25px;
}

.sobre-ong p{
    color: white;
    font-family: var(--fonteTexto);
    font-size: 18px;
    text-align: center;
    padding: 25px 0px 25px 0px;
}

#linha {
    width: 25%;            
    height: 5px;           
    background-color:#FF9800;
    border: none;        
    margin: 20px auto;     
}
/*apelo de doação*/
.apelo {
    background-color: #C57507;
    width: 1262px;        
    height: 432px;         
    display: flex;
    margin: 0 auto;        
    align-items: center;    
    justify-content: center;
    align-content: center;
    margin-top: 80px;
}

.apelo  p {
    margin: 0;
    font-family: var(--fonteTexto);
    font-size: 18px;
    color: white; 
    padding-left: 80px;   
}


.imagem {
    width: 1000%; 
    max-width: 316px;
    height: auto;
    display: flex;
}

.imagem img {
    width: 100%; 
    height: 432px; 
    object-fit: contain; 
    padding-left: 72px;
}

/*banner de expecialidade*/

#margin {
    margin-top: 80px; 
}

.banner2 {
    position: relative;
    width: 100%;        
    height: 1018px;     
    padding: 0;
}

.cover {
    position: absolute;  
    top: 0;
    left: 0;
    width: 649px;           
    height: 100%;         
    background: rgba(0, 0, 0, 0.5);  
    z-index: 1;           
}

.banner2 img {
    width: 100%;          
    height: 100%;          
    object-fit: cover;     
    z-index: 0;            
}

.textos h1{
    color: white;
    font-size: 78px;
    font-family: var(--fonteMenu);
    margin-top: 15px;
    text-align: center;
}

.lista-servicos li {
    color: white;
    font-size: 48px;
    font-family: var(--fonteTexto);
    margin: 0;
    line-height: 2;
}

.textos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.separador{
    width: 99%;            
    height: 5px;           
    background-color:#FF9800;
    border: none;        
    margin: 20px auto;     
}
.separador1{
    width: 100%;            
    height: 5px;           
    background-color:#ffffff;
    border: none;        
    margin: 20px auto;     
}


/*Eventos*/


.caixa{
    display: flex;
    justify-content: center;
    margin: 80px 0px 25px 0px;
}

.eventos {
    background: #101d41;
    width: 796px;
    height: 59px;
    border-radius: 20px;
}

.eventos h1 {
    color: white;
    font-family: var(--fonteMenu);
    font-size: 32px;
    text-align: center;
    padding-top: 10px;
}

/*Eventos Card*/

/* Contêiner principal que centraliza os cards */
.caixab1 {
    display: flex;
    justify-content: center; 
    align-items: center;     
    justify-content: space-evenly;
    text-align: center;
    padding: 20px;
}

/* Estilo do card */
.card1 {
    background: #080114;
    width: 320px;  
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;  
}

/* Estilo da data */
.card1 strong {
    font-family: var(--fonteMenu);
    color: white;
    font-size: 24px;
    margin-top: 15px; 
}

/* Estilo da imagem */
.card1 img {
    width: 100%; 
    height: auto;  
    border-radius: 15px;  
    margin-top: 10px;
    margin-bottom: 15px; 
}

/*Roda Pé*/
.rodape {
    background: #272727;
    color: white;
    padding-top: 20px;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    font-family: var(--fonteTexto);
    justify-content: space-between;
    gap: 30px;
}

#logo2{
    width: 175px;
    height: 153px;
}

#data h3{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.redesocial h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.icones {
    margin-bottom: 20px;
}

.contato h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.contato span {
    font-size: 20px;
}
.endereco h3{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}
.textorodape {
    background: #151515;
    color: white;
    width: 100%;
    padding: 10px 0;  
    text-align: center;
}

.textorodape  {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 0;  
}