* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #F8F8F8;
}

:root{
    --fonteMenu: 'Fira sans', sans-serif;
    --fonteTexto: 'Fira sans Condensed', sans-serif;
} 

/* Menu */
.conteiner-a1 {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #ffffff;
    padding: 10px 30px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#logo {
    width: 106px;
    height: 106px;
}

/* Menu */
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    margin-right: 30px;
}

.menu ul li a {
    color: #090015;
    font-size: 18px;
    font-family: var(--fonteMenu);
}



/* Botão APOIE */
#btn-apoiar {
    background-color: #FF9800;
    color: white;
    padding: 15px 25px;
    margin: 25px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

/*banner*/

/* Contêiner principal */
.banner-container {
    width: 100%;
    max-width: 1649px;
    height: 530px;
    display: flex;
    overflow: hidden;
    border: 1px solid #ddd;
    box-sizing: border-box;
    padding: 0px 25px 0px 25px;
    position: relative; 
}

/* Área do "cover" do lado esquerdo */
.banner-cover {
    width: 300px;
    height: 100%;
    background-color: #080114;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/* Texto no cover */
.banner-text {
    position: absolute; 
    top: 50%;
    left: 70px; 
    transform: translateY(-50%); 
    color: white;
    font-family: var(--fonteTexto);
    z-index: 2; 
    width: 450px; 
}

.banner-text h2 {
    font-family: var(--fonteMenu);
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}

.banner-text p {
    font-size: 24px;
    margin: 20px 0 20px;
}

/* Botão de doação */
.donate-button {
    background-color: #FF9800;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: var(--fonteMenu);
}

.donate-button:hover {
    background-color: #e08900;
}

/* Área da imagem à direita */
.banner-image-wrapper {
    flex: 1;
    height: 100%;
    overflow: hidden;
    position: relative;
}

/* Gradiente escuro nas laterais da imagem */
.banner-image-wrapper::before {
    content: ""; 
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7)); /* Gradiente escuro nas laterais */
    z-index: 1; 
}

/* Imagem responsiva */
.banner-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0; 
}

.sobre-ong{
    background: #748A1E;
    margin-top: 10px;
}
.sobre-ong h2{
    color: white;
    font-family: var(--fonteMenu);
    font-size: 32px;
    text-align: center;
    padding-top: 25px;
}

.sobre-ong p{
    color: white;
    font-family: var(--fonteTexto);
    font-size: 18px;
    text-align: center;
    padding: 25px 0px 25px 0px;
}

#linha {
    width: 25%;            
    height: 5px;           
    background-color:#FF9800;
    border: none;        
    margin: 20px auto;     
}

.apelo {
    background-color: #C57507;
    width: 1262px;          /* Largura fixa do contêiner */
    height: 432px;          /* Altura fixa do contêiner */
    display: flex;
    margin: 0 auto;         /* Centraliza o contêiner horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
    justify-content: center;
    align-content: center;
    margin-top: 80px;
}

.apelo  p {
    margin: 0; /* Remove a margem do <p> */
    font-family: var(--fonteTexto);
    font-size: 18px;
    color: white; 
    padding-left: 80px;   
}


.imagem {
    width: 1000%; /* Ou qualquer largura desejada */
    max-width: 316px; /* Limite a largura máxima da imagem */
    height: auto;
    display: flex;
}

.imagem img {
    width: 100%; /* A imagem ocupa 100% do contêiner */
    height: 432px; /* A altura é ajustada automaticamente */
    object-fit: contain; /* Para manter a proporção sem cortar a imagem */
    padding-left: 72px;
}
