* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #F8F8F8;
}

:root{
    --fonteMenu: 'Fira sans', sans-serif;
    --fonteTexto: 'Fira sans Condensed', sans-serif;
} 

/* Menu */
.conteiner-a1 {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #ffffff;
    padding: 10px 30px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#logo {
    width: 106px;
    height: 106px;
}

/* Menu */
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    margin-right: 30px;
}

.menu ul li a {
    color: #090015;
    font-size: 18px;
    font-family: var(--fonteMenu);
}

/*Banner inicio*/

.banner-container {
    position: relative; 
    width: 100%; 
}


#msm {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white;
    text-align: center;
    font-size: 3rem; 
    font-family: var(--fonteMenu);
    font-weight: bold;
}

/* Botão APOIE */
#btn-apoiar {
    background-color: #FF9800;
    color: white;
    padding: 15px 25px;
    margin: 25px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

/*apelo do voluntario*/

.conteiner-n1{
    margin: 80px 0px 80px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#img1{
    width: 476px;
    border-radius: 20px;
}
.conteiner-n2{
    background: #F7981E;
    border-radius: 25px;
    width: 750px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 45px;
    position: relative;
}

.conteiner-n2 p{
    font-family: var(--fonteTexto);
    font-size: 25px;
    color: white;
    padding-left: 25px;
}

.conteiner-n2 h2{
    font-family: var(--fonteMenu);
    font-size: 32px;
    color: white;
    font-weight: 600;
    text-align: center;
}


.caixa{
    width: 1728px;
    height: 319px;
    background: #293557;
}



/*Roda Pé*/
.rodape {
    background: #272727;
    color: white;
    padding-top: 20px;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    font-family: var(--fonteTexto);
    justify-content: space-between;
    gap: 30px;
}

#logo2{
    width: 175px;
    height: 153px;
}

.data h3{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.redesocial h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.icones {
    margin-bottom: 20px;
}

.contato h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.contato span {
    font-size: 20px;
}
.endereco h3{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}
.textorodape {
    background: #151515;
    color: white;
    width: 100%;
    padding: 10px 0;  
    text-align: center;
}

.textorodape  {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 0;  
}